$base-color: #60759d;
$bg: #fafaff;
$pink: #e70067;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$mobile-width: 480px;
$vtablet-width: 768px;
$tablet-width: 976px;
$desktop-width: 1280px;
$wide-width: 1921px;
